body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #000000;
}
.pc_none {
    display: none;
}

main {
    width: 100%;
    background-color: #000000;
}
main>.back_img {
    width: 100%;
    padding-top: 28.88%;
    background-image: url(../img/pc/back_notice.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

section {
    width: 86.6425992%;
    max-width: 1440px;
    margin: auto;
}

.main_top {
    width: 100%;
    margin: auto;
    overflow: hidden;
    margin-bottom: 22px;
}
.main_top>h1 {
    color: #ffffff;
    font-size: 42px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 24px;
}
.main_top div {
    height: 38px;
}
.main_top p {
    display: inline;
    font-size: 14px;
    color: #808080;
    margin-right: 18px;
    line-height: 38px;
}
.main_top .bar {
    margin: 0 26px;
}
.main_top span {
    font-size: 14px;
    color: #b3b3b3;
    line-height: 38px;
}

.main_mid {
    width: 100%;
    padding: 55px 24px 76px;
    box-sizing: border-box;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #222222;
}
.main_mid .contents {
    margin-bottom: 22px;
}
.main_mid p {
    font-size: 14px;
    color: #ffffff;
}
.main_mid h4 {
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
}
.main_mid h6 {
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
}
.main_mid em {
    font-size: 12px;
    color: #ffffff;
}
.main_mid a {
    vertical-align: top;
    text-decoration: underline;
    font-size: 14px;
    color: #ffffff;
}
.main_mid .uploaded_files>a {
    display: block;
    color: #707070;
    font-size: 16px;
    text-decoration: none;
}

.main_bottom {
    width: 100%;
    margin-bottom: 230px;
    color: #ffffff;
    font-size: 14px;
}
.main_bottom .next_content {
    height: 69px;
    border-bottom: 1px solid #222222;
    display: flex;
    justify-content: space-between;
    line-height: 69px;
}
.main_bottom .post_content {
    height: 69px;
    border-bottom: 1px solid #222222;
    display: flex;
    justify-content: space-between;
    line-height: 69px;
}
.main_bottom .cont_left {
    width: 80%;
    display: flex;
    justify-content: flex-start;
}
.main_bottom .cont_right {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}
.main_bottom .no {
    width: 93px;
}
.main_bottom .post {
    width: 50%;
    text-align: left;
    margin-left: 8.47%;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.main_bottom .date { 
    width: 123px;
    text-align: center;
}
.main_bottom .view {
    width: 122px;
    text-align: center;
}
.main_bottom .btn_move {
    display: block;
    border: 1px solid #fff;
    border-radius: 10px;
    width: 140px;
    height: 52px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    line-height: 52px;
    margin: auto;
    margin-top: 30px;
}

.main_bottom .mobile_btn_top {
    display: none;
}



/*---------media queries----------*/
/*---------max width 1480px----------*/
@media screen and (max-width: 1480px) {
    section {
        width: 86.6425992%;

        box-sizing: border-box;
    }
}

/*---------max width 1240px----------*/
@media screen and (max-width: 1240px) {
    section {
        width: 86.6425992%;
        box-sizing: border-box;
    }
    .main_top>.datepick_wrap {
        float: right;
        display: flex;
        margin-top: 30px;
        margin-bottom: 40px;
    }
    .main_top>div>div {
        width: 180px;
        height: 50px;
        background-color: #353535;
        border-radius: 10px;
        text-align: center;
        position: relative;
    }
}


/*-----------max width 720px------------*/
@media screen and (max-width: 720px) {
    .mobile_none {
        display: none;
    }
    section {
        width: 86.667%;
        padding: 0;
    }
    .main_top>h1 {
        font-size: 24px;
        line-height: 1.33;
        margin-top: 24px;
        margin-bottom: 0;
    }
    .main_top p {
        display: inline;
        font-size: 16px;
        margin-right: 16px;
        line-height: auto;
    }
    .main_top span {
        font-size: 16px;
        line-height: auto;
    }
    .main_top .bar {
        margin: 0 16px;
    }
    .main_mid {
        border-top: 1px solid #ffffff;
    } 

    .main_bottom {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .main_bottom .mobile_btn_top {
        width: 100%;
        display: flex;
        justify-content:flex-end;
        padding-bottom: 20px;
        box-sizing: border-box;
    }
    .main_bottom .mobile_btn_top>a {
        width: 50px;
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        color: #ffffff;
    }
    .main_bottom .mobile_btn_top>a>img {
        width: 15px;
        height: 15px;
    }
}

/*-----------max width 570px------------*/
@media screen and (max-width: 570px) {
    .main_bottom .date {
        display: none;
    }
    .main_bottom .view {
        display: none;
    }
}